/* Global settings */

@font-face {
  font-family: "JetBrainsMono-Light"; 
  src: url("fonts/JetBrainsMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "JetBrainsMono-Light", sans-serif;
}

body {
  margin: 0
}

/* Navbar */

#navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  font-family: Neuemontreal, sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  z-index: 1;
  background-color: white;
}

.title-name {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  width: fit-content;
  flex-shrink: 0;
}

.navbar-leftside {
  width: 80%;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  text-align: right;
  padding: 10px;
  position: relative;
}

.navbar-list-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

.navbar-list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.navbar-list-item:hover::after {
  width: 100%;
}

/* Main */

main {
  position: relative;
  top: 65px;
  margin: 0px 20px;
  padding: 0px;
}

.subheader {
  padding: 50px;
  margin: 0px;
  text-align: left;
  font-size: 50px;
  border-bottom: 3px solid black;
}

.subscript {
  text-align: justify;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.project-title {
  font-weight: 800
}

.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 35px;
  border-bottom: 3px solid black;
}

.project-tile-left {
  padding: 0px 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile-right {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-bottom: 20px;
  text-align: justify;
}

img {
  width: 25em;
  height: 18em;
  display: block;
  margin: 10px auto;
  object-fit: cover;
  object-position: top;
  border: 3px solid black;
  border-radius: 15px;
}

.button {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  color: #996;
  text-transform: uppercase;
  border: 2px solid #996;
  border-radius: 31px;
  padding: 16px 24px;
  text-decoration: none;
  overflow: hidden;
  transition: color 1s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 300%;
  background-color: #996;
  z-index: -1;
  transition: width 1s ease, height 1s ease, top 1s ease, left 1s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.button:hover::before {
  width: 300%;
  height: 300%;
}

.button:hover {
  color: white;
  z-index: 1
}

.socials {
  padding: 10px;
}

#profile-link {
  text-decoration: none;
  color: black;
  padding: 0px 20px 0px 0px;
}

.createdby {
  font-style: italic;
  padding-bottom: 10px;
}

/* Small screen settings */

@media only screen and (max-width: 900px) {
  .navbar-list {
    display: none;
  }
  .project-tile {
    display: inline-block;
    border-bottom: transparent;
    padding: 0px;
  }
  .project-tile-left {
    padding: 0px 20px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 60%;
    max-width: 600px;
    max-height: 400px;
  }
  .project-tile-left {
    text-align: center;
  }
}
