/* Global settings */

@font-face {
  font-family: "JetBrainsMono-Light"; 
  src: url("fonts/JetBrainsMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono-Light";
  src: url("fonts/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMonoThin";
  src: url("fonts/JetBrainsMono-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "JetBrainsMono-Light", sans-serif;
}

body {
  margin: 0
}

/* Navbar */

#navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  font-family: Neuemontreal, sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  z-index: 1;
  background-color: white;
}

.title-name {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  width: fit-content;
  flex-shrink: 0;
}

.navbar-leftside {
  width: 80%;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  text-align: right;
  padding: 10px;
  position: relative;
}

.navbar-list-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

.navbar-list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.navbar-list-item:hover::after {
  width: 100%;
}

/* Main */

main {
  position: relative;
  top: 65px;
  margin: 0px 20px;
  padding: 0px;
}

.subheader {
  padding: 45px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid black;
  position: relative;
}

.subheader::after {
  content: " [Pelle Meuzelaar]";
  display: inline;
  font-family: "JetBrainsMonoThin", sans-serif;
}

.subheader2 {
  padding: 45px;
  margin: 0px;
  text-align: left;
  font-size: 40px;
  border-bottom: 3px solid black;
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.banner {
  display: block;
  width: 100vw;
  margin-top: 5px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 2s ease;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.intro {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  text-align: justify;
  font-size: 18px;
}

.project-title {
  font-weight: bold;
}

.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 35px;
  border-bottom: 3px solid black;
}

.project-tile-left {
  padding: 0px 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile-right {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-bottom: 20px;
  text-align: justify;
}

img {
  width: 25em;
  height: 18em;
  display: block;
  margin: 10px auto;
  object-fit: cover;
  object-position: top;
  border: 3px solid black;
  border-radius: 15px;
}

.button {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  color: #996;
  text-transform: uppercase;
  border: 2px solid #996;
  border-radius: 31px;
  padding: 16px 24px;
  text-decoration: none;
  overflow: hidden;
  transition: color 1s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 300%;
  background-color: #996;
  z-index: -1;
  transition: width 1s ease, height 1s ease, top 1s ease, left 1s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.button:hover::before {
  width: 300%;
  height: 300%;
}

.button:hover {
  color: white;
  z-index: 1
}

.about-content{
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.about-text {
  text-align: justify;
}

.fuji {
  margin: 20px;  
  max-width: 400px;
  max-height: auto;
}

.socials {
  padding: 5px;
  text-align: center
}

#profile-link {
  text-decoration: none;
  color: black;
  margin: 10px;
  position: relative;
}

#profile-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

#profile-link:hover::after {
  width: 100%;
}

.createdby {
  font-style: italic;
  padding-bottom: 15px;
  text-align: center;
}

/* Small screen settings */

@media only screen and (max-width: 600px) {
  .navbar-list {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .subheader {
    font-size: clamp(16px, 8vw, 35px);
    text-align: center;
  }
  .subheader::after {
    content: " /PELLE MEUZELAAR";
    display: block;
    font-size: 18px;
    padding-top: 5px;
    font-family: "JetBrainsMonoThin", sans-serif;
  }
  .subheader2 {
    font-size: clamp(16px, 8vw, 35px);
    text-align: center;
  }
  .intro {
    padding: 0px 15px;
  }
  .project-tile {
    display: inline-block;
    border-bottom: transparent;
    padding: 0px;
  }
  .project-tile-left {
    padding: 0px 20px;
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81vw;
    height: 60%;
    max-width: 600px;
    max-height: 400px;
  }
  .about-content {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-text {
    width: 80vw;
    margin: auto;
  }
  .fuji {
    width: 60vw;
    margin: auto;
  }
}
